.Tilt {
	background: rgba(170,69,179,1);
background: -moz-linear-gradient(left, rgba(170,69,179,1) 0%, rgba(101,68,171,1) 26%, rgba(0,229,245,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(170,69,179,1)), color-stop(26%, rgba(101,68,171,1)), color-stop(100%, rgba(0,229,245,1)));
background: -webkit-linear-gradient(left, rgba(170,69,179,1) 0%, rgba(101,68,171,1) 26%, rgba(0,229,245,1) 100%);
background: -o-linear-gradient(left, rgba(170,69,179,1) 0%, rgba(101,68,171,1) 26%, rgba(0,229,245,1) 100%);
background: -ms-linear-gradient(left, rgba(170,69,179,1) 0%, rgba(101,68,171,1) 26%, rgba(0,229,245,1) 100%);
background: linear-gradient(to right, rgba(170,69,179,1) 0%, rgba(101,68,171,1) 26%, rgba(0,229,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa45b3', endColorstr='#00e5f5', GradientType=1 );
}